/*main font color #757575 */
/*secondary font color #212121 */
/*text hover color #2196F3 */
/*white color #FFFFFF */
/*grey icons #AFB1B8 */
/*big icons fill, our team fill #F5F4FA */
/*footer color #2F303A */
/*footer-text-gray rgba(255, 255, 255, 0.6) */
/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/
.hero {
  background-color: rgba(47, 48, 58, 0.8);
}
.hero-big {
  opacity: 0.5;
}
.hero-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--text-hover-color);
  color: var(--white-color);
}
.hero-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
.section {
  background-color: teal;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-advantages {
  display: flex;
}
.our-advantages__item {
  margin-right: 30px;
}
.our-advantages__item:last-child {
  margin-right: 0;
}
.our-advantages__link {
  display: inline-block;
  height: 120px;
  width: 270px;
}
.our-advantages__link:hover {
  background-color: var(--text-hover-color);
}
.our-advantages__icon {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.our-advantages__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-advantages__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-font-color);
  margin-bottom: 50px;
}
.our-activities {
  display: flex;
}
.our-activities__item {
  margin-right: 30px;
  border-radius: 4px;
}
.our-activities__item:last-child {
  margin-right: 0;
}
.our-activities__subheadings {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}
.our-team {
  display: flex;
}
.our-team__item {
  margin-right: 30px;
  border-radius: 3px;
  height: 422px;
  width: 270px;
}
.our-team__item:last-child {
  margin-right: 0;
}
.our-team__employee {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-font-color);
  text-align: center;
}
.our-team__employee-position-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.our-team__picture {
  margin-bottom: 30px;
}
.our-clients {
  display: flex;
}
.our-clients__item {
  margin-right: 30px;
  border-radius: 4px;
  height: 90px;
  width: 170px;
}
.our-clients__item:last-child {
  margin-right: 0;
}
.our-clients__link {
  display: inline-block;
}
.our-clients__icon {
}
.our-clients__icon:hover {
  background-color: var(--text-hover-color);
}
